<!DOCTYPE html>
{% extends 'master.html' %}


{% block title %} About Us {% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="jumbotron">
        <h1>"ReportGen" About Us </h1>
        <hr>
        <p>
            Progress reports are crucial for ensuring goals are met. 
            Whether you’re checking in on students, employees, clients, or projects, 
            JotForm’s Progress Report PDF Templates can help you monitor and evaluate 
            progress without taking up too much time. These professionally designed progress 
            report templates will instantly convert all submitted progress reports into PDFs you 
            can download for your records, share electronically, and print</p>
         <p>  
            These progress report templates ask about project updates, challenges, and future goals. 
            To get the specific information you need, you can use JotForm’s PDF Editor to add more 
            information fields, rewrite the evaluation questions, and change the rating scales. 
            Your progress reports will automatically be saved as PDFs that are easy to access and organize, enabling you to keep better track of activities and continue moving forward.
        </p>
    </div>
</div>

{%endblock%}