<!DOCTYPE html>
{% extends 'master.html' %}
{% load crispy_forms_tags %}

{% block title %} Change Password {% endblock %}

{% block content %}

<div class="container mt-5">
    <form action="" class="uniForm" method="POST">
        <div class="card">
            <h2 class="card-header text-center text-white bg-dark">Change Password</h2>
            <div class="card-body ">
            
              <table class="table">
                
                {% csrf_token %}
                  <tr>
                      <th>{{ form|crispy }}</th>
                  </tr>
                  <tr>
                        <td>
                            <button type="submit" class="btn btn-warning btn-lg">Change</button>
                        </td>
                  </tr>
              </table>
            </div>
        </div>
    </form>
</div>


{%endblock%}